body{
	min-height:100vh;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}

.ulTest{
	list-style-type:none;
	margin:0;
	padding:0;
}




.color{
	color:orange;
}
.color2{
	color:blue;
}


.change__font-size{
	font-size:22px;
}

.change__order{
	order: 5;
}