body{
	min-height:100vh;
	margin:0;
	// display:flex;
	// justify-content:space-evenly;
	// align-items:center;
	// background-color:grey;
}



// .h1Text{
// 	position:absolute;
// 	top:25%;
// 	left:50%;
// }

.topContainer{
	min-height:50vh;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	background-color:grey;
}


.bottomContainer{
	min-height:50vh;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	background-color:grey;	
}